<div class="container">
  <h2>Kalkulator</h2>
  <p>Suma ubezpieczenia</p>
  <form [formGroup]="insurance">
    <span>100</span>
    <input type="range" formControlName="amount" min="100" max="10000" value="5050" step="50">
    <span>{{this.insurance.value.amount}}</span><br><br>
    <span>10000</span>
    <br><br>
    <p>Ilość rat</p>
    <div class="form-group">
      <label>
        <input type="radio" formControlName="installment" value="0.98">1 rata
      </label>
      <label>
        <input type="radio" formControlName="installment" value="1">2 raty
      </label>
      <label>
        <input type="radio" formControlName="installment" value="1.0">3 raty
      </label>
      <label>
        <input type="radio" formControlName="installment" value="1.04">4 raty
      </label>
    </div>
    <p>Stan</p>
    <div class="form-group">
      <label>
        <input type="radio" formControlName="state" value="0.95">brak szkód
      </label>
      <label>
        <input type="radio" formControlName="state" value="1.08">wyrządzona szkoda
      </label>
      <span>Brak wyboru oznacza nowego klienta bez przeszłości</span>
    </div>
    <div class="summary">
      <button type="submit" (click)="postData()">Oblicz ratę</button>
      <span *ngIf="insurance.get('installment').invalid" style="color: red;">Uzupełnij formularz do końca</span>
      <p>{{this.finalAmount? this.finalAmount: 0}}zł</p>
    </div>
  </form>
</div>