<div class="container">
  <div class="heading">
    <h3>Kalkulator</h3>
  </div>
  <div class="form-div">
    <p>Suma ubezpieczenia</p>
    <form [formGroup]="insurance">
      <div class="display-large">
        <span class="gray-span">100</span>
        <span
          style="color: red; font-weight: bold; display: inline-block; margin-left: 16px;">{{displayInSpan()}}</span>
        <span class="gray-span">10000</span>
      </div>
      <input type="range" #ranger formControlName="amount" [value]="update()" (input)="update()" min="100" max="10000"
        step="50">
      <div class="display-mobile">
        <div class="display-mobile__range">
          <span>100</span>
          <span>10000</span>
        </div>
        <div class="display-mobile__setting">
          <button (click)="decreaseInsVal()"><i class="fas fa-chevron-left"></i></button>
          <span style="color: red; font-weight: bold; line-height: 2;">{{displayInSpan()}}</span>
          <button (click)="increaseInsVal()"><i class="fas fa-chevron-right"></i></button>
        </div>
      </div>
      <div class="form-group">
        <p>Ilość rat</p>
        <label class="select installments">
          <input type="radio" formControlName="installment" value="1"><span>1 rata</span>
        </label>
        <label class="select installments">
          <input type="radio" formControlName="installment" value="2"><span>2 raty</span>
        </label>
        <label class="select installments">
          <input type="radio" formControlName="installment" value="3"><span>3 raty</span>
        </label>
        <label class="select installments">
          <input type="radio" formControlName="installment" value="4"><span>4 raty</span>
        </label>
      </div>
      <div class="form-group">
        <p>Stan</p>
        <label class="select">
          <input class="select" type="radio" formControlName="state" value="0.95"><span>brak szkód</span>
        </label>
        <label class="select">
          <input class="select" type="radio" formControlName="state" value="1.08"> <span>wyrządzona szkoda</span>
        </label>
      </div>
      <div class="info">
        <span style="color: #96b0c5;">Brak wyboru oznacza nowego klienta bez przeszłości</span>
      </div>
    </form>
  </div>
  <div class="summary">
    <button type="submit" (click)="postData()">Oblicz ratę</button>
    <span *ngIf="isSubmitted && insurance.get('installment').invalid" style="color: red;">Uzupełnij formularz do
      końca</span>
    <p>{{this.finalAmount? this.finalAmount: 0}}zł</p>
  </div>
</div>