* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

/* MEDIA QUERIES */

@media (min-width: 992px) {
  body {
    background-image: url(../src/assets/img/bg-image-xl.png);
  }

  html {
    font-size: 80%;
  }
}
.main {
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
  background-image: url(../src/assets/img/bg-image-xl.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
