* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url(../src/assets/img/bg-image-sm.png);
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* MEDIA QUERIES */

@media (min-width: 992px) {
  body {
    background-image: url(../src/assets/img/bg-image-xl.png);
  }

  html {
    font-size: 80%;
  }
}
